<%
var user_dianpu = result.user_dianpu;
var user_youhuiquans = result.user_youhuiquans;

var dianpu = user_dianpu.Dianpu
var user = result.user_dianpu.User

var gzh = req.param('gzh')
%>

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <title>我的卡券中心</title>

</head>
<body>
<div class="container-fluid" style="">

    <!--<div style="color: #336699; margin-bottom: 10px; float: right"><span class="glyphicon glyphicon-user"><%=user.phone%></span>
    </div>-->
    <%
    if(user_dianpu.ishexiao){
    %>
    <div class="row">
        <div class="col-xs-12">
            <div style="float:right;text-align: center">
                <a href="/hexiao?gzh=<%=gzh%>">
                    <button type="button" class="btn btn-info" style="width: 200px;">核销</button>
                </a>
            </div>
        </div>
    </div>
    <%}%>
    <%for(var i = 0; i < user_youhuiquans.length; i ++){
    var user_youhuiquan = user_youhuiquans[i]
    var youhuiquan = user_youhuiquan.Youhuiquan;


    %>

    <div class="row">
        <div class="col-xs-12" style="word-wrap: break-word;margin-top: 10px; ">
            <div class="youhuiquan youhuiquan_template_<%=youhuiquan.type%>" >
                <div class="youhuiquan_left left"></div>
                <div class="youhuiquan_right right"></div>
                <div style="margin: 0px 7px;">
                    <div class="youhuiquan_bg bg ">
                        <div style="height: 92px;width: 100%" onclick="javascript:window.location.href='/youhuiquan_detail?gzh=<%=gzh%>&n=<%=user_youhuiquan.logicnumber%>&youhuiquanid=<%=youhuiquan.id%>'">
                            <div class="youhuiquan_title_bar" >
                                <div class="youhuiquan_type_icon type_icon"></div>
                                <div class="youhuiquan_title"><%=youhuiquan.title%></div>
                            </div>
                        </div>
                        <div class="youhuiquan_foot">
                            有效期至:<%=youhuiquan.endtime_ymd_str%>
                            <div style=" width: 50px; position: absolute; right: 0px;top: 0px;">
                                <a href="javascript:genQrcode('<%=user_youhuiquan.logicnumber%>')" style="display: block; width: 30px; text-align: center"><span class="glyphicon glyphicon-qrcode"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>

</div>

<div class="modal fade" id="qrcodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="">
    <div class="modal-dialog" style="text-align: center">
        <div class="modal-content" id="modal-content" style="padding:10px 0px;background:#fff;text-align: center">
            <div id="qrcodeAreaTitle"></div>
            <div id="qrcodeArea"></div>
            <div id="qrcodeAreaBt"></div>
        </div>
    </div>
</div>
<% include ./include/scripts.html %>
<script src="/public/bower_components/qrcode/jquery.qrcode.js"></script>
<script src="/public/bower_components/qrcode/qrcode.js"></script>
<script>iae.common.form('loginForm').validate();
$('#qrcodeModal').on('hidden.bs.modal', function (e) {
    $('#qrcodeAreaTitle').html('')
    $('#qrcodeArea').html('')
    $('#qrcodeAreaBt').html('')
})
function genQrcode(bh,youhuiquanid) {
    $("#qrcodeModal").modal();
    $('#qrcodeAreaTitle').html("<div style='font-size: 22px; color: red'>收银员扫码</div>");
    $('#qrcodeAreaBt').html("<div style='font-size: 22px; color: #ccc'>" + bh + "</div>");
    $('#qrcodeArea').qrcode({
        //render  : "table",
        width: '180',
        height: '180',
        text: "http://www.changxiaoke.com:8080/hexiao?gzh=<%=gzh%>&bh=" + bh
    })
}

</script>
</body>

</html>