<%
        var gzh = req.param('gzh')
    var dianpu = result.dianpu
    var hexiaoyuanArr = result.hexiaoyuanArr

%>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <title></title>

</head>
<body>
<div class="container-fluid" style="">
    <div class="row">

        <div class="col-xs-12" style="">
            <form action="?" method="post" name="setupForm" id="setupForm">
                <div class="form-group">
                    <label for="address">授权核销人员，以英文逗号分割-<span style="font-size: 14px; color: #ccc">必须是已有用户</span></label>
                    <textarea class="form-control" rows="2" id="hexiaoyuanArr" name="hexiaoyuanArr" placeholder="核销券人员"><%=hexiaoyuanArr%></textarea>
                </div>
                <div class="form-group">
                    <label for="name">商铺名称</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="商铺名称" value="<%=dianpu.name%>">
                </div>
                <div class="form-group">
                    <label for="address">商铺地址</label>
                    <textarea class="form-control" rows="2" id="address" name="address" placeholder="商铺名称" ><%=dianpu.address%></textarea>
                </div>
                <div class="form-group">
                    <label for="phone">咨询热线</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="咨询热线" value="<%=dianpu.phone%>">
                </div>
                <div style="text-align: right">
                    <a href="/boss?gzh=<%=gzh%>"><button type="button" class="btn btn-primary" style="">返回</button></a>
                    <button type="submit" class=" btn btn-primary" style="">保存</button>
                </div>

            </form>
        </div>

    </div>
</div>

<% include ./include/scripts.html %>
<script>iae.common.form('setupForm').validate();</script>
</body>
</html>